In [1]:
import re

## 1.Filter Tables

In [2]:
with open('data/SampleComplexQuery.sql', 'r') as sql_file:
    script_content = sql_file.read()

In [3]:
# Define a REGEX pattern to match table names
pattern = r'(?:FROM|JOIN|INTO)\s+([\w\.]+)'

# Find all matches of the pattern in the script
# Remember to use ignorecase to match both lower and upper case schema.table names
table_matches = re.findall(pattern, script_content, re.IGNORECASE)
table_matches

['RANDOM_SCHEMA1.PURCHASES',
 'customer_purchases',
 'RANDOM_SCHEMA2.PRODUCT_CATEGORIES',
 'RANDOM_SCHEMA3.PRODUCT_DETAILS',
 'RANDOM_SCHEMA4.PRODUCT_REVIEWS',
 'customer_purchases',
 'customer_loyalty',
 'product_categories',
 'product_details',
 'product_reviews',
 'CUSTOMERS_SCHEMA.customers',
 'PURCHASES_SCHEMA.purchases',
 'customer_purchases',
 'PRODUCTS_SCHEMA.products',
 'CATEGORIES_SCHEMA.categories',
 'PRODUCT_REVIEWS_SCHEMA.product_reviews',
 'customer_purchases',
 'customer_preferences',
 'product_categories',
 'product_reviews',
 'product_recommendations']

In [4]:
# Deduplicate the table names in case there are duplicates
table_names = list(set(table_matches))
table_matches

['RANDOM_SCHEMA1.PURCHASES',
 'customer_purchases',
 'RANDOM_SCHEMA2.PRODUCT_CATEGORIES',
 'RANDOM_SCHEMA3.PRODUCT_DETAILS',
 'RANDOM_SCHEMA4.PRODUCT_REVIEWS',
 'customer_purchases',
 'customer_loyalty',
 'product_categories',
 'product_details',
 'product_reviews',
 'CUSTOMERS_SCHEMA.customers',
 'PURCHASES_SCHEMA.purchases',
 'customer_purchases',
 'PRODUCTS_SCHEMA.products',
 'CATEGORIES_SCHEMA.categories',
 'PRODUCT_REVIEWS_SCHEMA.product_reviews',
 'customer_purchases',
 'customer_preferences',
 'product_categories',
 'product_reviews',
 'product_recommendations']

In [5]:
# Include only main tables and exclude common table expressions
table_names = [table_name for table_name in table_names if '.' in table_name]
table_names

['CUSTOMERS_SCHEMA.customers',
 'RANDOM_SCHEMA1.PURCHASES',
 'PRODUCT_REVIEWS_SCHEMA.product_reviews',
 'RANDOM_SCHEMA3.PRODUCT_DETAILS',
 'RANDOM_SCHEMA4.PRODUCT_REVIEWS',
 'PRODUCTS_SCHEMA.products',
 'PURCHASES_SCHEMA.purchases',
 'CATEGORIES_SCHEMA.categories',
 'RANDOM_SCHEMA2.PRODUCT_CATEGORIES']

## 2.Filter through Table Names

In [6]:
# Filter to include tables that are in a certain schema such as any schema that contains PRODUCT in it
product_tables = []
for table_name in table_names:
    schema, table = table_name.split('.')
    if schema.startswith('PRODUCT'):
        product_tables.append(table)

product_tables

['product_reviews', 'products']

In [7]:
# Using a list comprehension
product_tables_2 = [table_name for table_name in table_names
                    if table_name.split('.')[0].startswith('PRODUCT')]
product_tables_2

['PRODUCT_REVIEWS_SCHEMA.product_reviews', 'PRODUCTS_SCHEMA.products']

In [8]:
product_tables_2 = [table_name.split('.')[1] for table_name in table_names
                    if table_name.split('.')[0].startswith('PRODUCT')]
product_tables_2

['product_reviews', 'products']

## 3.Create Access Request

In [9]:
# List of tables to request user access
table_names

['CUSTOMERS_SCHEMA.customers',
 'RANDOM_SCHEMA1.PURCHASES',
 'PRODUCT_REVIEWS_SCHEMA.product_reviews',
 'RANDOM_SCHEMA3.PRODUCT_DETAILS',
 'RANDOM_SCHEMA4.PRODUCT_REVIEWS',
 'PRODUCTS_SCHEMA.products',
 'PURCHASES_SCHEMA.purchases',
 'CATEGORIES_SCHEMA.categories',
 'RANDOM_SCHEMA2.PRODUCT_CATEGORIES']

In [10]:
# Users that need access to the tables
usernames = ['Emp0009511', 'User199']

In [11]:
# Create/open a new/existing SQL file
with open('data/output_data/AccessRequest.sql', 'w') as sqlfile:
    # Loop through the list and generate and write access request statement for each user
    for username in usernames:
        for table_name in table_names:
            schema, table = table_name.split('.')
            access_request = (
                "CALL GRANT_SPECIAL_PRIVILEGES('GRANT', 'SEL,UPD,DEL,INS', "
                f"'{schema}', '{table}', '{username}');\n"
                )
            sqlfile.write(access_request)
        print(f"Access Request Statement is ready for user: {username}")

Access Request Statement is ready for user: Emp0009511
Access Request Statement is ready for user: User199

### 3.1. Group Users

In [12]:
# Create/open a new/existing SQL file
with open('data/output_data/AccessRequest.sql', 'w') as sqlfile:
    # Group all users in one line
    users = ', '.join(user for user in usernames)
    # Loop through the list and generate and write access request statement for all users
    for table_name in table_names:
        schema, table = table_name.split('.')
        access_request = (
            "CALL GRANT_SPECIAL_PRIVILEGES('GRANT', 'SEL,UPD,DEL,INS', "
            f"'{schema}', '{table}', '{users}');\n"
            )
        sqlfile.write(access_request)
    print(f"Access Request Statement is ready for {users = }")

Access Request Statement is ready for users = 'Emp0009511, User199'

## 4. Add Error Handling

In [13]:
try:
    # Create/open a new/existing SQL file
    with open('data/output_data/AccessRequest.sql', 'w') as sqlfile:
        # Group all users in one line
        users = ', '.join(user for user in usernames)
        # Loop through the list and generate and write access request statement for all users
        for table_name in table_names:
            schema, table = table_name.split('.')
            access_request = (
                "CALL GRANT_SPECIAL_PRIVILEGES('GRANT', 'SEL,UPD,DEL,INS', "
                f"'{schema}', '{table}', '{users}');\n"
                )
            sqlfile.write(access_request)
        print(f"Access Request Statement is ready for {users = }")
except Exception as e:
    print(f"An error occured: {e}")

Access Request Statement is ready for users = 'Emp0009511, User199'

## 5. Open file

In [14]:
import os

try:
    # Create/open a new/existing SQL file
    with open('data/output_data/AccessRequest.sql', 'w') as sqlfile:
        # Group all users in one line
        users = ', '.join(user for user in usernames)
        # Loop through the list and generate and write access request statement for all users
        for table_name in table_names:
            schema, table = table_name.split('.')
            access_request = (
                "CALL GRANT_SPECIAL_PRIVILEGES('GRANT', 'SEL,UPD,DEL,INS', "
                f"'{schema}', '{table}', '{users}');\n"
                )
            sqlfile.write(access_request)
        print(f"Access Request Statement is ready for {users = }")

    # Open the file after writing
    # Will open the file using the default program associated with `.sql` files
    os.system("open data/output_data/AccessRequest.sql")

except Exception as e:
    print(f"An error occured: {e}")

Access Request Statement is ready for users = 'Emp0009511, User199'

## 6. Save Table Names To A File

In [15]:
try:
    with open('data/output_data/TableNames.txt', 'w') as textfile:
        for table_name in table_names:
            textfile.write(f"{table_name} \n")

except Exception as e:
    print(f"An error occured: {e}")
else:
    print("Success!")

Success!