In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/BackupData.csv')
df.shape

(16, 18)

In [3]:
df.columns

Index(['Id', 'Domain', 'Subdomain', 'AzureSchema', 'AzureTable',
       'RandomColumn2', 'SourceSchema', 'SourceTable', 'NotificationEmail',
       'TargetTable', 'UploadedTime', 'LastUpdated', 'RandomColumn3',
       'TargetSchema', 'SourceQuery', 'TargetQuery', 'RandomColumn1',
       'RandomColumn4'],
      dtype='object')

In [4]:
df.head(1)

,Id,Domain,Subdomain,AzureSchema,AzureTable,RandomColumn2,SourceSchema,SourceTable,NotificationEmail,TargetTable,UploadedTime,LastUpdated,RandomColumn3,TargetSchema,SourceQuery,TargetQuery,RandomColumn1,RandomColumn4
0,1234,Schema1,Table1,AzureSchema1,AzureTable1,' ',SourceSchema1,SourceTable1,emailtechdesk@techdeskhelp.com,TargetTable1,2023-11-02 10:30:45:123456789,2023-11-02 10:31:45:123456789,' ',TargetSchema1,SELECT * FROM SourceTable WHERE LastUpdatedTim...,MERGE INTO TargetTable tgt USING SourceTable s...,' ',' '

In [5]:
# Table name where the backup table info will be inserted into
table_name = 'DevFrameworkTable'

# Define a list of columns to wrap with single quotes
columns_to_quote = [ 'SourceQuery', 'TargetQuery']

# Open a new SQL file for writing
with open('data/output_data/BackupDataToBeImported1.sql', 'w') as sql_file:
    for index, row in df.iterrows():
        values = []
        for column in df.columns:
            value = row[column]
            # Check if the column is in the list to be wrapped with a single quote
            if column in columns_to_quote:
                if value is not None:
                    values.append(f"'{value}'")
                else:
                    values.append('NULL')
            else:
                if value is not None:
                    values.append(str(value))
                else:
                    values.append('NULL')
        insert_statement = f"""INSERT INTO {table_name} ({', '.join(df.columns)}) VALUES ({', '.join(values)});\n"""
        sql_file.write(insert_statement)

### Replace NaN values with NULL

In [6]:
pd.notna(df)[:2]

,Id,Domain,Subdomain,AzureSchema,AzureTable,RandomColumn2,SourceSchema,SourceTable,NotificationEmail,TargetTable,UploadedTime,LastUpdated,RandomColumn3,TargetSchema,SourceQuery,TargetQuery,RandomColumn1,RandomColumn4
0,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,False,True,True,True,True,True,True,True,True,True,True,True,True,True

In [7]:
df.where(pd.notna(df), None)[:2]

,Id,Domain,Subdomain,AzureSchema,AzureTable,RandomColumn2,SourceSchema,SourceTable,NotificationEmail,TargetTable,UploadedTime,LastUpdated,RandomColumn3,TargetSchema,SourceQuery,TargetQuery,RandomColumn1,RandomColumn4
0,1234,Schema1,Table1,AzureSchema1,AzureTable1,' ',SourceSchema1,SourceTable1,emailtechdesk@techdeskhelp.com,TargetTable1,2023-11-02 10:30:45:123456789,2023-11-02 10:31:45:123456789,' ',TargetSchema1,SELECT * FROM SourceTable WHERE LastUpdatedTim...,MERGE INTO TargetTable tgt USING SourceTable s...,' ',' '
1,5678,Schema2,Table2,AzureSchema2,None,' ',SourceSchema2,SourceTable2,emailtechdesk@techdeskhelp.com,TargetTable2,2023-11-02 11:30:45:123456789,2023-11-02 11:31:45:123456789,' ',TargetSchema2,SELECT * FROM SourceTable WHERE LastUpdatedTim...,MERGE INTO TargetTable tgt USING SourceTable s...,' ',' '

In [8]:
# Replace NaN values with NULL
df = df.where(pd.notna(df), None)

# Table name where the backup table info will be inserted into
table_name = 'DevFrameworkTable'

# Define a list of columns to wrap with single quotes
columns_to_quote = [ 'SourceQuery', 'TargetQuery']

# Open a new SQL file for writing
with open('data/output_data/BackupDataToBeImported2.sql', 'w') as sql_file:
    for index, row in df.iterrows():
        values = []
        for column in df.columns:
            value = row[column]
            # Check if the column is in the list to be wrapped with a single quote
            if column in columns_to_quote:
                if value is not None:
                    values.append(f"'{value}'")
                else:
                    values.append('NULL')
            else:
                if value is not None:
                    values.append(str(value))
                else:
                    values.append('NULL')
        insert_statement = f"""INSERT INTO {table_name} ({', '.join(df.columns)}) VALUES ({', '.join(values)});\n"""
        sql_file.write(insert_statement)