In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/BackupData.txt')
df.shape

(16, 18)

In [3]:
df.head()

,,,,,,Id,Domain,Subdomain,AzureSchema,AzureTable,RandomColumn2,SourceSchema,SourceTable,NotificationEmail,TargetTable,UploadedTime,LastUpdated,RandomColumn3,TargetSchema,SourceQuery,TargetQuery,RandomColumn1,RandomColumn4
1234,Schema1,Table1,AzureSchema1,AzureTable1,' ',SourceSchema1,SourceTable1,emailtechdesk@techdeskhelp.com,TargetTable1,2023-11-02 10:30:45:123456789,2023-11-02 10:31:45:123456789,' ',TargetSchema1,'SELECT * FROM SourceTable WHERE LastUpdatedTi...,'E20','E30')',MERGE INTO TargetTable tgt USING SourceTable s...,OrderId,Status) VALUES (src.Id,src.OrderId,src.Status)',' ',' '
5678,Schema2,Table2,AzureSchema2,AzureTable2,' ',SourceSchema2,SourceTable2,emailtechdesk@techdeskhelp.com,TargetTable2,2023-11-02 11:30:45:123456789,2023-11-02 11:31:45:123456789,' ',TargetSchema2,'SELECT * FROM SourceTable WHERE LastUpdatedTi...,'E20','E30')',MERGE INTO TargetTable tgt USING SourceTable s...,OrderId,Status) VALUES (src.Id,src.OrderId,src.Status)',' ',' '
9876,Schema3,Table3,AzureSchema3,AzureTable3,' ',SourceSchema3,SourceTable3,emailtechdesk@techdeskhelp.com,TargetTable3,2023-11-02 12:30:45:123456789,2023-11-02 12:31:45:123456789,' ',TargetSchema3,'SELECT * FROM SourceTable WHERE LastUpdatedTi...,'E20','E30')',MERGE INTO TargetTable tgt USING SourceTable s...,OrderId,Status) VALUES (src.Id,src.OrderId,src.Status)',' ',' '
4321,Schema4,Table4,AzureSchema4,AzureTable4,' ',SourceSchema4,SourceTable4,emailtechdesk@techdeskhelp.com,TargetTable4,2023-11-02 13:30:45:123456789,2023-11-02 13:31:45:123456789,' ',TargetSchema4,'SELECT * FROM SourceTable WHERE LastUpdatedTi...,'E20','E30')',MERGE INTO TargetTable tgt USING SourceTable s...,OrderId,Status) VALUES (src.Id,src.OrderId,src.Status)',' ',' '
1357,Schema5,Table5,AzureSchema5,AzureTable5,' ',SourceSchema5,SourceTable5,emailtechdesk@techdeskhelp.com,TargetTable5,2023-11-02 14:30:45:123456789,2023-11-02 14:31:45:123456789,' ',TargetSchema5,'SELECT * FROM SourceTable WHERE LastUpdatedTi...,'E20','E30')',MERGE INTO TargetTable tgt USING SourceTable s...,OrderId,Status) VALUES (src.Id,src.OrderId,src.Status)',' ',' '